<div data-sticky data-options="marginTop:20; stickyOn:small">
    <ul>
      {% for item in site.toc %}
        <li class="toc-item toc-level-{{ item.level }}">
          <a class="toc-link" href="#{{ item.url | slugify }}">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>

<div class="toc" data-sticky-container>
    {% if site.toc == true %}
      {% capture toc_levels %}{{ site.toc_levels | default: 1 }}{% endcapture %}
      {% assign toc_levels = toc_levels | strip | split: "," | map: " | plus: 0" %}
      {% assign toc_float = site.toc_float | default: true %}
      {% assign toc_smooth_scroll = site.toc_smooth_scroll | default: true %}
      {% assign toc_hide_on_click = site.toc_hide_on_click | default: false %}
      {% assign toc_top_offset = site.toc_top_offset | default: 30 %}
      {% assign toc_class = site.toc_class | default: "no_toc" %}
      {% assign toc_min_headings = site.toc_min_headings | default: 3 %}
      {% if page.toc_exclude %}
        {% assign toc_exclude = page.toc_exclude | split: "," %}
      {% else %}
        {% assign toc_exclude = site.toc_exclude | default: "" | split: "," %}
      {% endif %}
  
      {% include toc/toc.html %}
    {% endif %}
  </div>
  
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      initToc({
        container: ".toc",
        level: {{ site.toc_levels | default: 1 }},
        topOffset: {{ site.toc_top_offset | default: 30 }},
        float: {{ site.toc_float | default: true }},
        smoothScroll: {{ site.toc_smooth_scroll | default: true }},
        hideOnXs: {{ site.toc_hide_on_xs | default: false }},
        exclude: [{% for ex in toc_exclude %}'{{ ex }}'{% unless forloop.last %},{% endunless %}{% endfor %}],
        minHeadings: {{ site.toc_min_headings | default: 3 }}
      });
    });
  </script>
  