<div class="sidebar" data-sticky-container>
    <div class="sidebar-sticky">
      {% if site.hydejack.sidebar.about %}
        {% include components/about.html author=site.hydejack.author %}
      {% endif %}
  
      {% if site.hydejack.sidebar.show_social %}
        {% include components/social.html %}
      {% endif %}
  
      {% if site.hydejack.sidebar.show_recent_posts %}
        {% include components/recent-posts.html limit=site.hydejack.sidebar.recent_posts_limit %}
      {% endif %}
  
      {% if site.hydejack.sidebar.show_categories %}
        {% include components/categories.html %}
      {% endif %}
  
      {% if site.hydejack.sidebar.show_tags %}
        {% include components/tags.html %}
      {% endif %}
  
      {% if site.hydejack.sidebar.show_archive %}
        {% include components/archive.html %}
      {% endif %}
  
      {% if site.hydejack.sidebar.show_collection_pages %}
        {% include components/collection-pages.html %}
      {% endif %}
  
      {% if site.hydejack.sidebar.show_collection_categories %}
        {% include components/collection-categories.html %}
      {% endif %}
    </div>
  </div>
  